<h1 class="heading">Absinthe Cocktails</h1>

<div class="cocktailstyle">
<h3 class ="subhead">Sazerac</h3>
  <ul class = "cocktail">
    <li>50ml rye, armagnac, cognac, bourbon or combination</li>
    <li>4 dashes peychauds bitters</li>
    <li>3 dashes angostura bitters</li>
    <li>10ml gomme syrup</li>
    <li>10ml absinthe</li>
  </ul>
  <ul class = "cocktail">
    <li>Rinse snifter with absinthe</li>
    <li>Stir all other ingredients and double strain</li>
    <li>Orange twist garnish, Snifter glass</li>
  </ul>
</div>

<div class="cocktailstyle">
<h3 class ="subhead">Absinthe Suissese</h3>
  <ul class = "cocktail">
    <li>30ml Absinthe blanchette</li>
    <li>15ml Orgeat syrup</li>
    <li>10ml egg white</li>
    <li>3 drops orange blossom water</li>
    <li>50ml cream or cream/milk 50/50</li>
  </ul>
  <ul class = "cocktail">
    <li>Shake all ingredients hard for 20 seconds.</li>
    <li>Strain into ice filled glass</li>
    <li>Grated almond garnish, Highball glass</li>
  </ul>
</div>

<div class="cocktailstyle">
<h3 class ="subhead">Chrysanthemum</h3>
  <ul class = "cocktail">
    <li>10ml Absinthe verte</li>
    <li>20ml Benedictine</li>
    <li>40ml Mancino bianco</li>
    
  </ul>
  <ul class = "cocktail">
    <li>Stir all ingredients and double strain</li>
    <li>Orange twist garnish, Martini glass</li>
  </ul>
</div>

<div class="cocktailstyle">
<h3 class ="subhead">Death in the afternoon</h3>
  <ul class = "cocktail">
    <li>20ml absinthe</li>
    <li>1 sugar cube</li>
    <li>top champagne</li>
  </ul>
  <ul class = "cocktail">
    <li>Pour absinthe over sugar cube</li>
    <li>Top with champagne</li>
    <li>Lemon twist garnish</li>
  </ul>
</div>