
    <h1 class="heading">Ways of drinking Absinthe</h1>
    <div class="drinkingstyle">
    <img class="drinking" src="http://waynesword.palomar.edu/images2/PrepAbsinthe1.jpg"/>
    <h3 class="subhead">FRENCH RITUAL</h3>
    <p>The French Ritual is comparable with the preparation of Pastis such as Pernod or Ricard, the follower or substitute for Absinthe after its prohibition. You put one or two sugar cubes on an Absinthe spoon, place it over the glass and fill it with an amount of Absinthe (2 to 4 cl). Then gently water is poured over the spoon. The green Absinthe begins to louche into white sage. In former times so called "Absinthe Fontaines" were widely used to dissolve the sugar with a thin beam of water which creates the perfect Louche.</p></div>

    <div class="drinkingstyle">
    <img class="drinking" src="http://www.globaltimes.cn/Portals/0/attachment/2011/fa46886b-3840-4d0e-a704-92c7bc76ac36.jpeg"/>
    <h3 class="subhead">BOHEMIAN RITUAL</h3>
    <p>Meanwhile, the Bohemian (Czech) Ritual of drinking Absinthe has become very popular. You put one or two sugar cubes on an Absinthe spoon and pour Absinthe over it. Then you light up the sugar and wait until the flames caramelize it. The sugar drips into the glass and blends with the Green Fairy. Then water is added to create the Louche. We do not recommend this ritual. The fine taste of the Absinthe is negatively effected by the caramelization of the sugar.</p></div>

    <div class="drinkingstyle">
    <img class="drinking" src="https://i.ytimg.com/vi/IsY-ICeA4-Y/maxresdefault.jpg"/>
    <h3 class="subhead">BROUILLE TOP</h3>
    <p>A Brouille is a small glass lid, which you place over your Absinthe glass. It is then filled with ice cubes and you slowly pour water in it. The water gets cooled and flows through a small hole in the bottom of the Brouille into the Absinthe glass. The Brouille is very easy to use and you get one of the best cloudy louches, because of the extremely thin beam of water.</p></div>

    <div class="drinkingstyle">
    <img class="drinking" src="http://www.thegreenhead.com/imgs/xl/authentic-french-absinthe-fountain-set-xl.jpg"/>
    <h3 class ="subhead">ABSINTHE FOUNTAIN</h3>
    <p>An Absinthe Fountain is an authentic Absinthe accessory which was present in every Absinthe bistro during the time of the Belle Epoque. Out of the spigots water drips on to the Absinthe sugar, dissolves it and blends with the Absinthe to create the perfect louche.</p></div>

    <div class="drinkingstyle">
    <img class="drinking" src="https://i.ytimg.com/vi/2ieuXqniN48/maxresdefault.jpg"/>
    <h3 class="subhead">BROUILLER AUTOMATIC</h3>
    <p>Instead of an Absinthe fountain you can also use an Absinthe Brouilleur. The water flows over a see saw into the Absinthe while you listen to the mechanical "tic tac" sound of this Absinthe accessory.</p></div>

