  <div id="banner">
      <img src="absinthemort.jpg"/>
  </div>
<div id="history">
<h1 class="heading"> A very brief history of Absinthe</h1>

<ul>
  <li><strong>1769:</strong><br> Switzerland: Suzanne-Margerite Henriod advertised their remedy "Bon Extrait d'Absinthe", which consisted of alcohol, wormwood, aniseed, lemon balm and other herbs.</li>
  <li><strong>1792:</strong><br> Formula modified by a certain Dr. Pierre Ordinaire (yes, that was his real name), the inventor of "modern" Absinthe. He concocted a formula of 8 plants, including wormwood, anise, hyssop and fennel, and used 136-proof alcohol, which became the traditional proof of real Absinthe.</li>
  <li><strong>1797:</strong><br> The formula was sold to Major Dubied who build together with his son and son in law Mr. H. L. Pernod the first Absinthe factory in Couvet, Switzerland. In 1805 a second plant in Pontarlier, France, followed and helped Pernod to gain a fame that lasts until our present time.</li>
  <li><strong>1844-1847:</strong><br> During the Algiers war the French Army made use of the inciting effects of Absinthe and provided the soldiers with regular rations of the liquor. The veterans who had survived the war soon pushed the production output from 400 litres daily (appr. 90 gallons) to more than 20,000 litres (appr. 5,000 gallons) a day and more. Absinthe distilleries started to spread all over France.</li>
  <li><strong>1905:</strong><br> it was reported that Jean Lanfray murdered his family and tried to kill himself after drinking absinthe. The fact that Lanfray was an alcoholic who had consumed much more than his usual two glasses of absinthe in the morning was either overlooked or ignored; the murders were blamed solely on absinthe. The murders were the last straw, and a petition to ban absinthe in Switzerland was signed by more than 82,000 people.</li>
  <li><strong>1910:</strong><br> The total turnover of Absinthe distribution had grown massively. To satisfy the large demand some distilleries made use of low-grade alcohol and used copper sulphate for coloration. These irresponsible dealings with the drink together with economical interests of the French wine lobby finally resulted in the prohibition of Absinthe in (almost) all countries of Europe by the year 1920. To be precise, the first country, which banned the Green Fairy was Switzerland in 1910. The French followed in 1914 and Germans on march 27, 1923. In Germany not only the liquor but also the distribution of recipes was prohibited.</li>
  <li><strong>1981:</strong><br> The Absinthe ban began to be lifted, starting with Germany, however Wormwood remained banned, meaning the Absinthe produced at this time was not true Absinthe.</li>
  <li><strong>1991:</strong><br> This changed. The legal limit of thujon in spirits with an alcohol degree of up to 25% was set to 5 mg/kg, 10 mg/kg for spirits with up to 25% and 35 mg/kg for bitters.</li>
</ul>
</div>
