<div id="banner">
  <img src="PosterAbsinthe.jpg"/>
</div>
<div class="maintext">
  <h1 class="heading">What is Absinthe</h1>
  <p>Absinthe is traditionally prepared from a distillation of neutral alcohol, various herbs, and water. Traditional absinthes were redistilled from a white grape spirit (or eaux de vie), while lesser absinthes were more commonly made from alcohol from grain, beets or potatoes.</p>
  <p id="quote"><strong>The Art of Absinthe: La Louche</strong><br>
    "Whiskey and beer are for fools<br> absinthe for poets<br> absinthe has the power of the magicians<br> it can wipe out or renew the past,<br> and annul or foretell the future."<br>
    Ernest Dowson 1867-1900</p>
    <h1 class="subhead">The Holy Trinity</h1>
    <ol>
      <li><a href="https://www.rhs.org.uk/advice/grow-your-own/vegetables/florence-fennel?type=v">Florence Fennel<a></li>
      <li><a href="https://www.rhs.org.uk/Plants/1625/i-Artemisia-absinthium-i/Details">Grande Wormwood (Artemisia Absinthium)</a></li>
      <li><a href="https://en.wikipedia.org/wiki/Anise">Green Anise</a></li>
    </ol>
    <p>To be a true Absinthe it must contain the above 'Holy Trinity' of botanicals.  Many other herbs may be used as well, such as petite wormwood (Artemisia pontica or Roman wormwood), hyssop, melissa, star anise, angelica, sweet flag, dittany, coriander, veronica, juniper,nutmeg and many, many others.</p>
  </div>