<!DOCTYPE html>
<html>
<head>
  <title>Absinthe</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <header>
  <h1 id = "site_title">ABSINTHE, La Fee Verte </h1>
   <a href="/">Home</a> 
   <a href="/drinking">Drinking</a> 
   <a href="/history">History</a> 
   <a href="/cocktails">Cocktails</a> 
  </header>

  <%= yield %>

  <footer>
    <p>Please drink responsibly</p>
  </footer>
</body>
</html>